:root {
    --IRIS: #4D5AE5;
    --NAVY-BLUE: #2E2F42;
    --CORNFLOWER: #E7E9FC;
    --SLATE: #434455;
    --WHITE: #FFFFFF;
}
.logo {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
text-decoration: none;
}

.logo span {
    color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: 21px; /* 116.667% */
letter-spacing: 0.54px;
text-transform: uppercase;
}

.menu-links {
    color: var(--NAVY-BLUE);
    
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.contact-details {
    color: var(--SLATE, #434455);

    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

body {
    font-family: "Roboto";
}

.order-service {
    background-color: var(--NAVY-BLUE);
    text-align: center;
    color: var(--WHITE);
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px; /* 107.143% */
    letter-spacing: 1.12px;
}